@import "scss/partials/variables";
@import "scss/partials/mixins";

// GLOBAL CHANGES
* {
  box-sizing: border-box;
}
a.nostyle {
  &:link,
  &:visited,
  &:hover {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
}
button {
  &:focus {
    outline: none;
  }
}
ul {
  list-style: none;
}
.nopadding {
  padding: 0 !important;
}
.display--left {
  left: 0;
}
.display--right {
  right: 0;
}

// BODY STRUCTURE
body {
  nav {
    background-color: $brown;
    height: 80px;
    .nav__menu {
      margin: 0;
      @include display-flex(flex);
      height: 100%;
      @include align-items(center);
      @include justify-content(center);
      .menu__item {
        @include display-flex(flex);
        padding: 5px 10px;
        color: $white;
        font-size: 14px;
        text-transform: uppercase;
        a {
          &:hover,
          .active {
            color: $green;
          }
        }
      }
      .menu__icon {
        display: none;
      }
    }
  }

  header {
    height: calc(100vh - 80px);
    background-color: $black;
    .slider {
      height: 100%;
      overflow: hidden;
      position: relative;
      .slider__item {
        -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
        img {
          position: absolute;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
      .slider__button {
        margin: auto 0;
        position: absolute;
        bottom: 5vh;
        border: none;
        background-color: transparent;
        font-size: 50px;
        font-weight: 100;
        color: $green;
      }
    }
  }
}

// MEDIA
@media screen and (max-width: 321px) {
  body {
    nav {
      .nav__menu {
        justify-content: flex-end;
        .menu__item {
          display: none;
        }
        .menu__icon {
          display: block;
          height: 40px;
          width: 40px;
          padding-top: 3px;
          background-color: $green;
          text-align: center;
          line-height: 40px;
          color: $white;
          font-size: 20px;
        }
      }
    }

    header {
      .slider{
        .slider__item {
          img {
            width: auto;
            height: 500px;
          }
        }
      }
    }
  }
}
