body {
  nav {
    background-color: $brown;
    height: 80px;
    .nav__menu {
      margin: 0;
      @include display-flex(flex);
      height: 100%;
      @include align-items(center);
      @include justify-content(center);
      .menu__item {
        @include display-flex(flex);
        padding: 5px 10px;
        color: $white;
        font-size: 14px;
        text-transform: uppercase;
        a {
          &:hover,
          .active {
            color: $green;
          }
        }
      }
    }
    .nav__icon {
      display: none;
    }
  }
}

@media screen and (max-width: 321px) {
  body {
    nav {
      @include display-flex(flex);
      @include justify-content(flex-end);
      @include align-items(center);
      position: relative;
      padding: 0 !important;
      .nav__menu {
        position: absolute;
        top: calc(100% - 1px);
        @include flex-direction(column);
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;
        width: 100%;
        height: auto;
        padding: 20px 0;
        .menu__item {
          @include display-flex(flex);
          @include justify-content(center);
          padding: 10px 0;
        }
      }
      .nav__icon {
        margin-right: 15px;
        display: block;
        height: 40px;
        width: 40px;
        padding-top: 3px;
        background-color: $green;
        text-align: center;
        line-height: 40px;
        color: $white;
        font-size: 20px;
      }
    }
  }
}
