body {
  section {
    .section__description {
      background-color: $white;
      min-height: 50vh;
      padding: 50px 0;
      .description__records {
        margin: 30px 0;
        .records__frame {
          table {
            width: 100%;
            table-layout: fixed;
            thead {
              border-top: 1px solid $black;
              border-bottom: 1px solid $black;
              th {
                position: relative;
                height: 60px;
                padding: 15px;
                text-align: center;
                vertical-align: middle;
                .heading__item {
                  .item__title {
                    display: inline-block;
                    margin-right: 15px;
                    max-width: 100px;
                    text-align: center;
                    font-weight: bold;
                  }
                  .item__arrows {
                    position: absolute;
                    right: 10px;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    color: $green;
                    vertical-align: middle;
                    align-self: center;
                    width: 20px;
                    @include display-flex(flex);
                    @include justify-content(center);
                    @include flex-direction(column);
                  }
                }
              }
            }
            tbody {
              tr {
                td {
                  width: 20%;
                  padding: 10px 0;
                  font-weight: bold;
                  text-align: center;
                  &.status {
                    &.forsale {
                      color: $green;
                    }
                    &.soldout {
                      color: $brown;
                    }
                  }
                }
              }
            }
          }
        }
        .records__buttons {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 321px) {
  body {
    section {
      .section__description {
        .description__records {
          .records__frame {
            width: calc(100% - 40px);
            overflow: hidden;
            float: left;
            table {
              position: relative;
              width: 350%;
              thead {
                th {
                  .heading__item {
                    position: relative;
                    height: 100%;
                    @include display-flex(flex);
                    @include justify-content(center);
                    @include align-items(center);
                    @include flex-direction(column);
                    .item__title {
                      @include display-flex(flex);
                      @include align-items(center);
                      height: 100%;
                    }
                    .item__arrows {
                      margin-top: 10px;
                      position: relative;
                      height: auto;
                    }
                  }
                }
              }
              tbody {
                td {
                  width: 50%;
                }
              }
            }
          }
          .records__buttons {
            border-top: 1px solid $black;
            border-bottom: 1px solid $black;
            @include display-flex(flex);
            @include justify-content(center);
            @include flex-direction(column);
            float: left;
            height: 130px;
            .glyphicon {
              @include display-flex(flex);
              @include justify-content(center);
              @include align-items(center);
              @include flex-direction(column);
              height: 40px;
              width: 40px;
              font-size: 16px;
              font-weight: bold;
              background: $green;
              color: $white;
              &.disabled {
                background: $light-grey;
              }
            }
          }
        }
      }
    }
  }
}
