body {
  section {
    .section__description {
      background-color: $white;
      min-height: 50vh;
      padding: 50px 0;
      .description__categories {
        @include display-flex(flex);
        @include justify-content(space-between);
        .category__item {
        }
      }
    }
  }
}
